<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".Activity.ProductUpdateActivity"></activity>
        <activity android:name=".Activity.ProductsDetailsActivity" />
        <activity android:name=".Activity.UserInterfaceContainerActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.UploadProductActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.AgentActivity" />
        <activity android:name=".Activity.BeforeHomeActivity" />
        <activity android:name=".Activity.WholeSellerActivity" />
        <activity android:name=".Activity.FarmerActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>